<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @client.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @client.adress %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
 <%= link_to 'Back', clients_path %> |
<%= link_to 'Create Card', new_client_card_path(@client, @card) %> |
<%= link_to 'Show Cards', client_cards_path(@client, @card) %>


