<p id="notice"><%= notice %></p>

<h1>Listing Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Exercise</th>
      <th>How To Do</th>
      <th>Frequency</th>
      <th>Coach</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientcards.each do |clientcard| %>
      <tr>
        <td><%= clientcard.name %></td>
        <td><%= clientcard.exercise %></td>
        <td><%= clientcard.howtodo %></td>
        <td><%= clientcard.frequency %></td>
        <td><%= clientcard.coach %></td>
        <td><%= link_to 'Show', clientcard %></td>
        <td><%= link_to 'Edit', edit_clientcard_path(clientcard) %></td>
        <td><%= link_to 'Destroy', clientcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clientcard', new_clientcard_path %>
