<p id="notice"><%= notice %></p>

<h1>Listing Cards</h1>

<table>
  <thead>
    <tr>
      <th>Exercise........... </th>
      <th>Frequency........... </th>
      <th>HowToDo  </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.exercise %></td>
        <td><%= card.frequency %></td>
        <td><%= card.howtodo %></td>
        <td><%= link_to 'Show', client_cards_path(@client,@card)%></td>
        <td><%= link_to 'Edit', edit_client_card_path(@client, card) %></td>
        <td><%= link_to 'Destroy', client_card_path(@client,card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_client_card_path %>
